vendor(prop, args)
  -webkit-{prop} args
  {prop} args

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

background-image()
  vendor('background-image', arguments)

transition()
  vendor('transition', arguments)

transition-property()
  vendor('transition-property', arguments)

transition-duration()
  vendor('transition-duration', arguments)

transition-timing-function()
  vendor('transition-timing-function', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

transform-style()
  vendor('transform-style', arguments)

perspective()
  vendor('perspective', arguments)

perspective-origin()
  vendor('perspective-origin', arguments)

backface-visibility()
  vendor('backface-visibility', arguments)