// Minimal target: android stock 2.3.3

vendor(name, args)
  -webkit-{name} args
  {name} args

// -webkit prefixed properties

animation-delay()
  vendor('animation-delay', arguments)

animation-direction()
  vendor('animation-direction', arguments)

animation-duration()
  vendor('animation-duration', arguments)

animation-iteration-count()
  vendor('animation-iteration-count', arguments)

animation-name()
  vendor('animation-name', arguments)

animation-play-state()
  vendor('animation-play-state', arguments)

animation-timing-function()
  vendor('animation-timing-function', arguments)

appearance()
  vendor('appearance', arguments)

backface-visibility()
  vendor('backface-visibility', arguments)

background-clip()
  vendor('background-clip', arguments)

background-composite()
  vendor('background-composite', arguments)

background-origin()
  vendor('background-origin', arguments)

background-size()
  vendor('background-size', arguments)

border-fit()
  vendor('border-fit', arguments)

border-horizontal-spacing()
  vendor('border-horizontal-spacing', arguments)

border-image()
  vendor('border-image', arguments)

border-vertical-spacing()
  vendor('border-vertical-spacing', arguments)

box-align()
  vendor('box-align', arguments)

box-direction()
  vendor('box-direction', arguments)

box-flex()
  vendor('box-flex', arguments)

box-flex-group()
  vendor('box-flex-group', arguments)

box-lines()
  vendor('box-lines', arguments)

box-ordinal-group()
  vendor('box-ordinal-group', arguments)

box-orient()
  vendor('box-orient', arguments)

box-pack()
  vendor('box-pack', arguments)

box-reflect()
  vendor('box-reflect', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

color-correction()
  vendor('color-correction', arguments)

column-break-after()
  vendor('column-break-after', arguments)

column-break-before()
  vendor('column-break-before', arguments)

column-break-inside()
  vendor('column-break-inside', arguments)

column-count()
  vendor('column-count', arguments)

column-gap()
  vendor('column-gap', arguments)

column-rule-color()
  vendor('column-rule-color', arguments)

column-rule-style()
  vendor('column-rule-style', arguments)

column-rule-width()
  vendor('column-rule-width', arguments)

column-width()
  vendor('column-width', arguments)

font-smoothing()
  vendor('font-smoothing', arguments)

highlight()
  vendor('highlight', arguments)

line-break()
  vendor('line-break', arguments)

line-clamp()
  vendor('line-clamp', arguments)

margin-bottom-collapse()
  vendor('margin-bottom-collapse', arguments)

margin-top-collapse()
  vendor('margin-top-collapse', arguments)

marquee-direction()
  vendor('marquee-direction', arguments)

marquee-increment()
  vendor('marquee-increment', arguments)

marquee-repetition()
  vendor('marquee-repetition', arguments)

marquee-style()
  vendor('marquee-style', arguments)

mask-attachment()
  vendor('mask-attachment', arguments)

mask-box-image()
  vendor('mask-box-image', arguments)

mask-clip()
  vendor('mask-clip', arguments)

mask-composite()
  vendor('mask-composite', arguments)

mask-image()
  vendor('mask-image', arguments)

mask-origin()
  vendor('mask-origin', arguments)

mask-position()
  vendor('mask-position', arguments)

mask-repeat()
  vendor('mask-repeat', arguments)

mask-size()
  vendor('mask-size', arguments)

nbsp-mode()
  vendor('nbsp-mode', arguments)

perspective()
  vendor('perspective', arguments)

perspective-origin()
  vendor('perspective-origin', arguments)

rtl-ordering()
  vendor('rtl-ordering', arguments)

tap-highlight-color()
  vendor('tap-highlight-color', arguments)

text-decorations-in-effect()
  vendor('text-decorations-in-effect', arguments)

text-fill-color()
  vendor('text-fill-color', arguments)

text-security()
  vendor('text-security', arguments)

text-stroke-color()
  vendor('text-stroke-color', arguments)

text-stroke-width()
  vendor('text-stroke-width', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

transform-style()
  vendor('transform-style', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transition-duration()
  vendor('transition-duration', arguments)

transition-property()
  vendor('transition-property', arguments)

transition-timing-function()
  vendor('transition-timing-function', arguments)

user-drag()
  vendor('user-drag', arguments)

user-modify()
  vendor('user-modify', arguments)

user-select()
  vendor('user-select', arguments)
